<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h3>Customer</h3>
<p>
    <a th:href="@{/customer/create}">Add New Customer</a>
</p>

<table id="customers">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td th:text="${customer.getAddress()}"></td>
        <td><a  th:href="@{/customer/{id}/edit(id=${customer.getId()})}">edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${customer.getId()})}">delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${customer.getId()})}">view</a></td>
    </tr>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>